* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

/* HELPERS */
.btn {
    cursor: pointer;
    padding: 5px;
    font-size: 1rem;
    border-radius: 5px;
    width: 30px;
    border: none;
}