@font-face{
    font-family: luckiest-guy;
    src:url('../font/LuckiestGuy-Regular.ttf')
}
@font-face{
    font-family: noto-sans-medium; /* Font for body */
    src: url('../font/NotoSansJP-Medium.otf');
}

.app-container{
    display: grid;
    grid-template-rows: 70px 1fr 30px ;
}

.app-header {
    grid-row: 1/2;
    background-color: #E6F4F1;
    color:#00303F;
    box-shadow: 4px -2px 15px #00303f87;
    /* z-index: -1; */
}

.main-nav{
    display: flex;
    width: 1300px;
    margin: auto;
    align-items: center;
    justify-content: space-between;
}

.logo{
    font-family: luckiest-guy;
    font-size: 3rem;
}
nav{
    font-size: 20px;
}

.active-link {
    color:#00303F;
}
/* .main-screen{ */
    

/* FOOTER */
footer {
    /* grid-row: 3/4; */
    position: fixed;
    width: 100%;
    bottom: 0;
    height: 50px;
    background-color: #E6F4F1;
    color:#00303F;
    box-shadow: 1px 4px 13px #00303F;
}