.add-note-zone{
    box-shadow: 0px 4px 3px 0px rgb(67 99 158 / 56%);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.add-note-zone .btn{
    width: 15%;
    height: 50px;
    border-radius: 0px;
    border-radius: 20px;
    margin-bottom:10px;
    background-color: unset;
}
.add-note-zone .btn:hover{
    background-color:  rgb(142, 191, 194);
}

