
.note {
    
    width: 200px;
    /* min-height: 200px; */
    background-color: rgb(193, 229, 231);
    box-shadow: 0px 4px 9px 0px #00303f6e;
    margin: 10px;
    text-align: start;
    display: flex;
    flex-direction: column;
}

.note button{
    float: right;
    margin: 10px;
}

.note ul{
    margin: 0;
    padding-top: 2rem;
}
