
.note {    
    min-width: 250px;
    max-width:350px;
    min-height: 250px;
    background-color: rgb(193, 229, 231);
    box-shadow: 0px 4px 9px 0px #00303f6e;
    text-align: start;
    display: flex;
    flex-direction: column;
    overflow: auto;
    line-height: 2rem;
    margin:10px;
    border-radius: 5px;
}

.note header{
    height: 10%;
    width: 100%;
    background-color: rgb(142, 191, 194);
    box-shadow: 0px 4px 9px 0px #00303f6e;
    padding-left: 20px ;
}
.todo li{
    list-style: none;
}

.img-display{
    height: 30%;
    width: 30%;
    object-fit: cover;
}

.note button{
    float: right;
    margin: 10px;
    /* background-color: ; */
}
.note button:hover{
    background-color: rgb(82, 82, 82);
    color: rgb(236, 230, 230);
}


.fas .fa-pencil-alt{
    background: f303;
}
.far .fa-trash-alt{
    background:f2ed ;
}
.fas .fa-thumbtack{
    background: f08d;
}


.note .done{
    text-decoration: line-through;
}
.note-content{
    padding: 20px ;
    display: flex;
    flex-direction: column;
}
