@import '/css/apps/email/cmp/email-send.css';
@import '/css/css/apps/email/cmp/email-nav.css';

.mail-container {
    display: flex;
    width: 1200px;
    align-items: center;
    justify-content: space-between;
}

.mail-list {
    list-style: none;
    width: 80%;
}

.world {
    width: 20%;
}

.mail-preview-container {
    border-radius: 15px;
    display: flex;
    margin-bottom: 5px;
    background-color: rgb(212, 205, 205);
}

.mail-preview-container:hover{
    background-color: rgba(42, 39, 54,0.5);
}

.email-preview {
    flex-grow: 1;
    display: flex;
    justify-content: space-around;
}

/*.mail-preview-subject {
    flex-grow: 1;
}*/

.read {
    background-color: rgba(46, 54, 77, 0.3);
}

.add-mail-modal {
    background-color: #E6F4F1;
    position: absolute;
    bottom: 0px;
    right: 5%;
    width: 60%;
    height: 40%
}

