@import '/css/apps/email/cmp/email-send.css';
@import '/css/css/apps/email/cmp/email-nav.css';

.mail-container {
    display: flex;
    width: 1200px;
    height: 89vh;
    justify-content: space-between;
}

.mail-list {
    list-style: none;
    width: 80%;
}

.world {
    width: 20%;
}

.mail-preview-container {
    border-radius: 15px;
    display: flex;
    margin-bottom: 5px;
    background-color: rgba(28, 25, 158, 0.055);
}

.mail-preview-container:hover {
    background-color: rgba(69, 67, 80, 0.5);
}

.email-preview {
    flex-grow: 1;
    display: flex;
    justify-content: space-around;
}


.read {
    background-color: rgba(46, 54, 77, 0.3);
    font-weight: bold;
}

.add-mail-modal {
    background-color: #E6F4F1;
    position: absolute;
    bottom: 0px;
    right: 5%;
    width: 800px;
    height: 40%
}

.from {
    width: 20%;
}

.mail-preview-subject {
    width: 50%;
}

.date {
    width: 20%;
}

.star {
    color: rgb(226, 223, 53);
    font-weight: bold;
    font-size: 1.3em;
    margin-bottom: 0px;
    margin-top: 0px;
    margin-left:5px;
    align-items: center;
    display: flex;
    cursor: pointer;
    width: 10%;
}

.stared {
    color: black;
}

.pointer {
    cursor: pointer;
}