.wrapper {
    width: 100%;
    height: 89vh;
    margin: 0 auto;
    animation-name: animate;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    display: flex;
    text-align: center;
    justify-content: center;
}

.text-area {
    text-align: center;
    width: 75%;
    margin: 0 auto;
}

.text-area h2 {
    font-size: 75px;
    color: white;
}

.text-area h3 {
    color: #fff;
    text-transform: uppercase;
    margin: 0 0 15px;
    font-size: 35px;
}

.text-area p {
    font-size: 18px;
    color: #fff;
    width: 70%;
    margin: 0 auto;
    line-height: 1.9;
}

.footer{
    text-align: center;
}

@keyframes animate {
    0% {
        background: #29306a;
    }
    15% {
        background: #515392;
    }
    30% {
        background: #7A79BC;
    }
    45% {
        background: #A4A1E8;
    }
    50% {
        background:#A7A4EA;
    }
    55% {
        background: #A7A4EA;
    }
    60% {
        background: #A4A1E8;
    }
    75% {
        background: #7A79BC;
    }
    90% {
        background: #515392;
    }
    100% {
        background: #29306a;
    }
}