@import '/css/apps/email/cmp/email-send.css';
@import '/css/css/apps/email/cmp/email-nav.css';

* {
    font-family: noto-sans-medium;
}

.mail-container {
    display: flex;
    width: 1200px;
    height: 89vh;
    justify-content: space-between;
}

.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}
.search-bar button{
    width: 150px;
    height: 40px;
    border-radius: 0px;
    border-radius: 20px;
    background-color: unset;
}
.search-bar button:hover{
    background-color:rgba(160, 191, 195, 0.37) ;
}


.search-bar input{
    height: 40px;;
    width: 300px;
    border-radius: 2rem;
    text-align: center;
    font-family: noto-sans-medium;
    margin-right: 10px;
    margin-left: 5px;
    padding: 3px;
}

.search-bar select{
    height: 40px;
    width: 300px;
    border-radius: 2rem;
    text-align: center;
    font-family: noto-sans-medium;
    margin-right: 10px;
    margin-left: 5px;
    padding: 3px;
}

.mail-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 20px auto;
    cursor: pointer;
}

.world {
    width: 20%;
}

.mail-preview-container {
    border-radius: 15px;
    display: flex;
    margin-bottom: 5px;
    background-color: rgb(193, 229, 231);
    font-size: 0.8em;
    height: 4em;
    width: 100%;
}

.mail-preview-container:hover {
    background-color: rgba(70, 57, 136, 0.233);
}

.email-preview {
    flex-grow: 1;
    display: flex;
    justify-content: space-around;
}


.read {
    background-color: rgb(142, 191, 194);
    font-weight: bold;
}



.from {
    width: 20%;
}

.mail-preview-subject {
    width: 50%;
}

.date {
    width: 20%;
}

.star {
    color: rgb(226, 223, 53);
    font-weight: bold;
    font-size: 1.3em;
    margin-bottom: 0px;
    margin-top: 0px;
    margin-left: 5px;
    align-items: center;
    display: flex;
    cursor: pointer;
    width: 10%;
}

.stared {
    color: black;
}

.pointer {
    cursor: pointer;
}

.mail-app {
    font-family: noto-sans-medium;
    display: grid;
    grid-template-columns: 1fr 300px;
    margin-bottom: 30px;
}

.my-progress {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    background-color:  #f0f1f1;
    border: 0.5px solid black;
}

.my-bar {
    text-align: center;
    width: 1%;
    height: 30px;
    background-color: #00303F;
    color: #E6F4F1;
}

.progress-btn {
    margin-right: auto;
    margin-left: auto;
}
.progress-btn:hover{
    background-color: rgba(160, 191, 195, 0.37);
}

.btn-mail {
    text-align: center;
}