.mail-detail-container{
    display: flex;
    flex-direction: column;
    width: 1060px;
    margin-left: auto;
    margin-right: auto;
}

.from-to-container{
    display: flex;
}

.mail-body{
    text-align: center;
    width: 100%;
}